{% extends "layout.html" %}

{% block title %} Admin Access {% endblock %}

{% block content %}

<div class="pt-5 mt-2 mb-5 text-center">
  <h2 class="my-3"> Management </h2>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissable fade show messages" role="alert"> 
        {{ message }} 
      </div>
    {% endfor%}
  {% endif %}
{% endwith %}


<!-- Sign In -->
<div class="ml-4 mb-5">
  <form action="/admin_login" method="post">
    <label for="code"> Access Code: </label> <br>
    <input type="text" id="code" name="code"> <br><br>
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}
