{% extends "layout.html" %}

{% block title %} Admin {% endblock %}

{% block content %}

<div class="pt-5 mt-2 text-center">
  <h2 class="my-3"> Admin </h2>
</div>


<!-- Bottle Management -->
<button class="collapsible">Manage Bottles</button>
<div class="manager">
  <div id="bottles" class="list-group list-group-flush">

    <!-- Bottles -->
    <ol>
      {% for id, bottle in bottles.items(): %}
      <li>
        <form class="admin-form" action="/update_bottles/{{id}}" method="post">
          <label class="admin-label" for="name">Content </label>
          <input type="text" name="name" value="{{bottle['name']}}">
          <label class="admin-label" for="size">Size </label>
          <input type="text" name="size" value="{{bottle['size']}}">
          <label class="admin-label" for="ml">mL </label>
          <input type="number" name="ml" value="{{bottle['ml']}}">
          <label class="admin-label" for="brand">Brand </label>
          <input type="text" name="brand" value="{{bottle['brand']}}">
          <label class="admin-label" for="type">Type </label>
          <select name="type" style="display:block">
            <option value="{{bottle['type']}}" selected>{{bottle['type']}}</option>
            {% if bottle['type'] == "mixer" %}
              <option value="alcohol">alcohol</option>
            {% else %}
              <option value="mixer">mixer</option>
            {% endif %}
          </select>
          <label class="admin-label" for="fill">Fill % </label>
          <input type="text" name="fill" value="{{bottle['estimated_fill']}}">
          <input type="submit" value="Save">
        </form>
      </li>
      {% endfor %}
    </ol>

  </div>
</div>

<button class="collapsible">Manage Menu</button>
<div class="manager">
  <div id="menu_items" class="list-group list-group-flush">
    <!-- Menu -->
    <ol>
      {% for id, drink in drinks.items(): %}
      <li>
        <form class="admin-form" action="/update_menu/{{id}}" method="post">
          <label for="name">Name: </label>
          <input type="text" name="name" value="{{drink['name']}}">
          <label for="price">Price: </label>
          <input type="number" name="price" value="{{drink['price']}}">
          <label for="ingredients">Description: </label>
          <input type="text" name="ingredients" value="{{drink['ingredients']}}">
          <label for="image">Image URL: </label>
          <input type="text" name="image" value="{{drink['image']}}">
          <input type="submit" value="Save">
        </form>
      </li>
      {% endfor %}
    </ol>

  </div>
</div>
{% endblock %}


{% block page_scripts %}

<script src="{{ url_for('static', filename='admin.js') }}"></script>

{% endblock %}
