{% extends "layout.html" %}

{% block title %} Shopping Cart {% endblock %}

{% block content %}

<div class="pt-5 mt-2 pb-3 text-center">
    <h2 class="my-3"> Shopping Cart </h2>
</div>

<!-- Show cart items if they exist -->
{% if drinks %}

<!-- Shopping cart header row -->
<div class="container">
  <div class="list-group list-group-flush">
    <div id="cart-item-div" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="row">
        <div id="cart-drink-image-col" class="col-1">
          Items
        </div>
        <div class="col-6">
        </div>
        <div id="cart-drink-price-header" class="col-1">
          Price
        </div>
        <div id="cart-drink-quantity-header" class="col-4">
          Quantity
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Shopping cart-->
<div class="container mb-4">
  <div id="cart" class="list-group">

    <!-- Shopping cart items -->
    {% for drink in drinks.keys(): %}
      <div class="list-group-item list-group-item-action flex-column align-items-start cart-item-div">
        <div class="row">

          <div class="col-1 cart-drink-img-col">
            <img src={{ drinks[drink]["image"] }} class="cart-drink-img">
          </div>

          <div class="col-6">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="font-weight-bold mb-1"> {{ drinks[drink]["name"] }} </h6>
            </div>
            <div class="small-text">
              <p class="mb-1"><small> {{ drinks[drink]["ingredients"] }} </small></p>
            </div>
          </div>

          <div id="cart-price-{{ loop.index }}" class="col-1 cart-drink-price-col">
            <p> {{ drinks[drink]["price"] }} </p>
          </div>

          <div class="col-4 cart-drink-quantity-col">
            <div>
              <span id="cart-quantity-{{ loop.index }}"> 2 </span>
              <div class="pull-right">
                <button onclick="open_cart_modal({{ drinks[drink] }}, {{ loop.index }})" class="btn btn-xs ml-3 cart-btn" type="button">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="btn btn-xs ml-1 btn-trash cart-btn" type="button">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Edit cart modal -->
      <div id="modal-cart-{{ loop.index }}" class="modal fade modal-cart" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="modal-cart-title-{{ loop.index }}" class="modal-title font-weight-bold"> </h5>
              <button type="button" class="close reset-modal" data-index="{{ loop.index }}" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <div class="text-center"> 

                <!-- Input quantity-->
                <div class="form-group row">
                  <div class="input-group justify-content-center">
                    <div class="input-group-prepend mr-2">
                      <button id="minus-cart-button-{{ loop.index }}" data-index="{{ loop.index }}" data-identifier="minus" class="btn btn-outline-secondary minus-btn" type="button"> - </button>
                    </div>
                    <p id="modal-cart-quantity-{{ loop.index }}" class="qty-value"> </p>
                    <div class="input-group-append ml-2">
                      <button id="plus-cart-button-{{ loop.index }}" data-index="{{ loop.index }}" data-identifier="plus" class="btn btn-outline-secondary plus-btn" type="button"> + </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
                  
            <div class="modal-footer">
              <button id="update-cart-button-{{ loop.index }}" data-index="{{ loop.index }}" type="button" class="btn btn-dark btn-block p-3 radius-remove update-btn"> 
                <span class="pull-left"> <i class="fas fa-shopping-cart"></i> &nbsp; Update Cart </span> 
                <span id="modal-cart-price-{{ loop.index }}" class="pull-right"> </span>
              </button>
            </div>

          </div>
        </div>
      </div>

    {% endfor %}

  </div>
</div>


<!-- Order summary-->
<div class="container pt-3 pb-5">
  <div class="col">

    <div class="rounded-pill bg-light text-uppercase font-weight-bold px-4 py-1 text-center"> Order Summary </div>

    <div id="order-totals" class="p-3">
      <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between border-bottom py-2 px-3">
          <strong class="text-muted"> Order Subtotal </strong><strong> $390.00 </strong>
        </li>
        <li class="d-flex justify-content-between border-bottom py-2 px-3">
          <strong class="text-muted"> Tax </strong><strong> $0.00 </strong>
        </li>
        <li class="d-flex justify-content-between border-bottom py-2 px-3">
          <strong class="text-muted"> Total </strong><strong> $400.00 </strong>
        </li>
      </ul>
      <div class="text-center">
        <a href="#" class="btn btn-dark btn-sm rounded-pill py-1"> Proceed to checkout </a>
      </div>
    </div>

  </div>
</div>


<!-- Show empty cart -->
{% else %}

  <div class="empty-cart-container">
    <div>
      <div id="empty-cart-icon">
        <button class="btn fa-3x" disabled> <i class="bi bi-cart-x"></i> </button>
      </div>
      <div class="text-center">
        <h5 id="empty-cart-text"> Cart is empty </h5>
      </div>
      <p class="mt-4">
        <a id="add-items-to-cart-link" class="font-weight-bold" href="/menu"> Add items to cart </a>
      </p>
    </div>
  </div>


{% endif %}        


{% endblock %}


{% block page_scripts %} 

<script src="{{ url_for('static', filename='cart.js') }}"></script>

{% endblock %}


