<!doctype html>
<html>

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

    <title> Home </title>

  </head>


  <body>

    <div id="brand-name-container" class="container">
      <h1 id="brand-name" class="text-center text-uppercase"> Barrl </h1>
    </div>

    <div id="menu-button-container" class="container d-flex justify-content-center">
      <a href="/menu">
        <button id="menu-button" class="btn btn-light" data-mdb-ripple-color="blue" type="button"> Menu </button>
      </a>
    </div>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

  </body>

</html>
