<!doctype html>
<html>

  <head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  
    <title> Home </title>
  </head>

  <body>
  
    <div class="container" id="brand-name-container">
      <h1 class="text-center text-uppercase" id="brand-name"> Barrl </h1>
    </div>

    <div class="container d-flex justify-content-center" id="menu-button-container">
      <a href="/menu"><button type="button" class="btn btn-light" data-mdb-ripple-color="blue" id="menu-button"> Menu </button></a>
    </div>

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

  </body>

</html>
