{% extends "layout.html" %}

{% block title %} Menu {% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="container">
  <div class="list-group list-group-flush">

    {% for drink in drinks.keys(): %}
      <button type="button" id="drink-container" class="list-group-item list-group-item-action list-group-item-light flex-column align-items-start">
        <div class="row">
          <div class=column>
            <img src={{ drinks[drink]["image"] }} width="50" height="67">
          </div>
          <div class=column id="drink-div">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="font-weight-bold mb-1"> {{ drink }} </h6>
            </div>
            <div id="drink-properties-div">
              <p class="mb-1"> {{ drinks[drink]["ingredients"] }} </p>
              <small> {{ drinks[drink]["price"] }} </small>
            </div>
          </div>
        </div>
      </button>
    {% endfor %}

  </div>
</div>


{% endblock %}
